.click 
{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 90;

}

#boutton 
{
    
    font-size:7em;
    font-family: monospace;
    padding: 10px;
    border: none;
    background-color: #FBC02D;
    color : #fff;
    border-radius: 5px;
    cursor:pointer;
    outline: none;
}

#boutton:hover {

     transform: scale(1.05);
     

}

#boutton:active {
    transform: scale(0.98);
}

body 
{
    background-image: url("../assets/echec.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.titre
{
    margin-top: -5;
    align-items: center;
    display: flex;
    justify-content: center;
    color : red;
    font-size : 5em;
}