table {
	border-collapse: collapse;
}

td {
	border: solid 1px black;				
	display: table-cell;
	width: 70;
	height: 60;
	text-align: center;
}

.blanc{
    background-color: white;
}
.noir{
    background-color: black;
}

.titre {

      margin:auto;
}